@page
@model App.Pages.AddSongModel
@{
    ViewData["Title"] = "Add a song!";
}
<section id = "main">
    <div id="add side" style="width: 500px; height: 1200px;float:left; padding: 10px; ">
        <h1>Add Song</h1>
        <input type="text" placeholder="Title"/>
        <input type="text" placeholder="Album"/>
        <input type="text" placeholder="Artist"/>
        <input type="text" placeholder="Date"/>
        <form method="post">
            <button type="submit" asp-page-handler="SubmitButton">Submit</button>
        </form>
    </div>

    <div id="search side" style="width: 500px; height: 1200px;float:right; padding: 10px; ">
        <h1>Search Song</h1>
        <form method="post">
            <input type="text" name="searchString"/>
            <button type="submit" asp-page-handler="GetSearchText">GetSearchText</button>
        </form>
    </div>
</section>
