@page
@model App.Pages.ForgotPasswordModel
@{
}

<section id="main">
    <div class="left-floating-div text-light">
        <u>
            <h1>Forgot Password</h1>
        </u>
        @using (Html.BeginForm("ForgotPassword", "AccountHandler", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(Model => Model.Email, "Email")
            </div>
            <div>
                @Html.TextBoxFor(Model => Model.Email, new { @type="email", @class="mm_text", @required="required"})
            </div>

            <input class="mm_button" type="submit" asp-page-handler="Submit" value="Submit"/>
        }
    </div>
</section>

