@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    var sessionId = @HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn");
    var sessionUser = @HttpContextAccessor.HttpContext.Session.GetString("SessionUser");
    var artistV = @HttpContextAccessor.HttpContext.Session.GetString("IsArtist");
}

<section id="main">
    <div class="text-center text-light">
        @if(sessionUser != null)
        {
            <h1 class="display-4">Welcome - @sessionUser - @artistV</h1>
        }
        else
        {
            <h1 class="display-4">Welcome</h1>
        }
    </div>
</section>
