@page
@model App.Pages.LoginModel
@{
}

<section id="main">
    <div class="left-floating-div text-light">
        <u>
            <h1>Login</h1>
        </u>
        @using (Html.BeginForm("Login", "AccountHandler", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(Model => Model.Email, "Email")
            </div>
            <div>
                @Html.TextBoxFor(Model => Model.Email, new { @type="email", @class="mm_text", @required="required"})
            </div>

            <div>
                @Html.LabelFor(Model => Model.Password, "Password")
            </div>
            <div>
                @Html.PasswordFor(Model => Model.Password, new { @type="password", @class="mm_text", @required="required"})
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <a href="ForgotPassword">Forgot password?</a>
            </div>

            <input class="mm_button" type="submit" asp-page-handler="Login" value="Login"/>
        }
    </div>
</section>

