@page
@model App.Pages.RegisterArtistModel
@{
}

<section id="main">
    <div class="left-floating-div">
        <h1>Become an Artist!</h1>
        @using (Html.BeginForm("BecomeArtist", "AccountHandler", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(Model => Model.Email, "Enter Email to become an artist!")
            </div>
            <div>
                @Html.TextBoxFor(Model => Model.Email, new { @type="text", @class="mm_text", @required="required"})
            </div>

            <input class="mm_button" type="submit" asp-page-handler="Register" value="Register"/>
        }
    </div>
</section>