@page
@model App.Pages.SearchSongControllerModel
@{
    ViewData["Title"] = "Serch for a song!";
}
<section id="main">
    <h1> Search for a song!</h1>
    <input type="text" placeholder="blah"/>
</section>
