/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom types 
-----------------------------------*/

.left-floating-div {
  width: 500px;
  height: inherit;
  float: left;
  margin: 10px;
}


.right-floating-div {
  width: 500px;
  height: inherit;
  float: right;
  margin: 10px;
}


.mm_button {
  width: fit-content;
  height: 50px;
  padding: 12px, 20px;
  margin: 8px;
  border-color: black;
  background-color: white;
}

.mm_text {
  width: 400px;
  height: 20px;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  vertical-align: top;
  border-color: black;
  background-color: white;
}

.search-bar {
  width: 1000px;
  height: 40px;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  vertical-align: top;
  border-color: black;
  align-content: center;
}

.table-title-spaced {
  white-space: normal;
  border-bottom-color: black;
}

.search-table {
  border: 1px solid black;
  width: 100%;
  border-collapse: separate;
}

.dropdown {
  position: inherit;
  display: inline-block;
}

.dropdown-button {
  border: 1px dotted;
  border-color: grey;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {
  display: block;
  overflow-block: scroll;
}
.btn:hover, .dropdown:hover .btn  {
  background-color: #0b7dda;
}